/* font-family: 'Catamaran', sans-serif; */
/* font-family: 'Righteous', cursive; */

.navbar.bg-dark {
    background-color: rgba(0,0,0, 0.8) !important;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
}